<div class="row pallet">
    <div class="bg-light c">&nbsp;</div>
    <div class="bg-secondary c">&nbsp;</div>
    <div class="bg-warning c">&nbsp;</div>
    <div class="bg-danger c">&nbsp;</div>
    <div class="bg-success c">&nbsp;</div>
    <div class="bg-info c">&nbsp;</div>
    <div class="bg-primary c">&nbsp;</div>
    <div class="bg-dark c">&nbsp;</div>
</div>

<div class="row">
    <div class="col">

        <uxwb-tab [default]="level1" [color]="'primary'" [style]="'btn'" (switch)="setLevel(1,$event)">
            <ng-template [tab]="'Guide'">
                <app-home-component></app-home-component>
            </ng-template>

            <ng-template [tab]="'CSS Only'">
                <uxwb-tab [default]="level2" [color]="'danger'" [style]="'line'" (switch)="setLevel(2,$event)">
                    <ng-template *ngFor="let item of styleList" [tab]="item.link">
                        <app-view-style [data]="item"></app-view-style>
                    </ng-template>
                </uxwb-tab>
            </ng-template>

            <ng-template [tab]="'Angular Components'">
                <uxwb-tab [default]="level2" [color]="'warning'" [style]="'line'" (switch)="setLevel(2,$event)">
                    <ng-template *ngFor="let item of componentsList" [tab]="item.link">
                        <app-view-component [data]="item"></app-view-component>
                    </ng-template>
                </uxwb-tab>
            </ng-template>
        </uxwb-tab>

    </div>
</div>

