<h3 class="mt-2">links</h3>
<code class="mt-2">
    <a target="_blank" class="mr-1 box box-info" href="https://www.npmjs.com/package/@uxwb/ngx-ui">@uxwb/ngx-ui</a>
    <a target="_blank" class="mr-1 box box-info" href="https://www.npmjs.com/package/@uxwb/ngx-services">@uxwb/ngx-services</a>
    <a target="_blank" class="mr-1 box box-info" href="https://www.npmjs.com/package/@uxwb/icons">@uxwb/icons</a>

    <a target="_blank" class="mr-1 box box-danger" href="https://icons.uxwb.ru/">Icons Website</a>
    <a target="_blank" class="mr-1 box box-danger" href="https://github.com/uxwb">GitHub</a>
</code>

<h3 class="mt-2">installation</h3>
<pre class="mt-2">
npm i @uxwb/ngx-ui --save
npm i @uxwb/ngx-services --save
npm i @uxwb/icons --save

yarn add @uxwb/ngx-ui
yarn add @uxwb/ngx-services
yarn add @uxwb/icons
</pre>

<h3 class="mt-2">styles.scss</h3>
<pre class="mt-2">
@import "@uxwb/ngx-ui";
</pre>

<h3 class="mt-2">app.module.ts</h3>
<pre class="mt-2">{{moduleText}}</pre>

<h3 class="mt-2">themes</h3>
<pre class="mt-2">
@import "@uxwb/ngx-ui/themes/rainbow";
@import "@uxwb/ngx-ui/themes/tenderness";
@import "@uxwb/ngx-ui/themes/summer";
@import "@uxwb/ngx-ui/themes/twilight";
</pre>

<h3 class="mt-2">customization variables</h3>
<pre class="mt-2">{{customVar}}</pre>

