<h3 class="mt-2">links</h3>
<code class="mt-2">
    <a target="_blank" class="mr-1 box box-info" href="https://www.npmjs.com/package/@uxwb/components">@uxwb/components</a>
    <a target="_blank" class="mr-1 box box-info" href="https://www.npmjs.com/package/@uxwb/services">@uxwb/services</a>
    <a target="_blank" class="mr-1 box box-info" href="https://www.npmjs.com/package/@uxwb/icons">@uxwb/icons</a>

    <a target="_blank" class="mr-1 box box-danger" href="https://icons.uxwb.ru/">Icons Website</a>
    <a target="_blank" class="mr-1 box box-danger" href="https://github.com/uxwb">GitHub</a>
</code>

<h3 class="mt-2">installation</h3>
<pre class="mt-2">
npm i @uxwb/components --save
npm i @uxwb/services --save
npm i @uxwb/icons --save

yarn add @uxwb/components
yarn add @uxwb/services
yarn add @uxwb/icons
</pre>

<h3 class="mt-2">styles.scss</h3>
<pre class="mt-2">
@import "@uxwb/components";
</pre>

<h3 class="mt-2">app.module.ts</h3>
<pre class="mt-2">{{moduleText}}</pre>

<h3 class="mt-2">themes</h3>
<pre class="mt-2">
@import "@uxwb/components/themes/rainbow";
@import "@uxwb/components/themes/tenderness";
@import "@uxwb/components/themes/summer";
@import "@uxwb/components/themes/twilight";
</pre>

<h3 class="mt-2">customization variables</h3>
<pre class="mt-2">{{customVar}}</pre>

